<div class="nav-wrapper">
    <div class="nav">
        <div class="img-container">
            <a aria-label="Home" routerLink="/" routerLinkActive="router-link-active">
                <img src="/Images/Memoji.png" alt="Kalia Hayes's Memoji'">
            </a>
        </div>

        <div class="flex nav-items">
            <!-- <p routerLink="/about" title="About" routerLinkActive="router-link-active">About</p> -->
            <button type="button">
                <p routerLink="/projects" title="Projects">Projects</p>
            </button>
            <button type="button">
                <p routerLink="/bookmarks" title="Blog">Bookmarks</p>
            </button>
            <button type="button">
                <p routerLink="/blog" title="Blog">Blog</p>
            </button>
            <button type="button">
                <p routerLink="/contact" title="Blog">Contact</p>
            </button>
        </div>
    </div>
</div>