<div class="card-container" (mouseenter)="toggleHoverState()" (mouseleave)="toggleHoverState()">
    <div class="card" [style.cursor]="'pointer'" [style.border-color]="onHover ? project.accentColor : ''" [routerLink]="['/projects/' + project.slug]">
        <img [src]="project.attributes?.imageUrl" alt="">
        <h5 class="card-title">
            {{ project.attributes?.name }}
        </h5>
        <p>
            {{ project.attributes?.description }}
        </p>
        <p class="more">
            <a [style.color]="project.accentColor" [routerLink]="['/projects/' + project.slug]"
                routerLinkActive="router-link-active">
                <i class="fa fa-external-link"></i>
                <span>View Project</span>
            </a>
        </p>
    </div>
    <div class="spacer-5"></div>
    <div class="tags" [style.opacity]="onHover ? '1' : '0'">
        <span class="tag" *ngFor="let tag of project.attributes?.tags">
            #{{ tag }}
        </span>
    </div>
    <div class="spacer-40"></div>
</div>