<div class="card-container" (mouseenter)="toggleHoverState()" (mouseleave)="toggleHoverState()">
    <div class="card" [style.border-color]="onHover ? blog.accentColor : ''">
        <!-- <img [src]="blog.imageUrl" alt=""> -->
        <h5>
            {{ blog.attributes.name }}
        </h5>
        <p>
            {{ blog.attributes.description }}
        </p>
        <p class="more">
            <a [style.color]=" blog.accentColor" [routerLink]="['/blog/' + blog.slug]">
                <i class="fa fa-external-link"></i>
                <span>Read More</span>
            </a>
        </p>
    </div>
    <div class="spacer-5"></div>
    <div class="tags" [style.opacity]="onHover ? '1' : '0'">
        <span *ngFor="let tag of blog.attributes.tags">
            #{{ tag }}
        </span>
    </div>
    <div class="spacer-40"></div>
</div>